
<h1>Create a New List</h1>

<%= form_with(model: @list, url: lists_path, method: "post") do |form| %>
  <div>
    <%= form.label :name, "List Name" %>
    <%= form.text_field :name %>
  </div>

  <h2>Select Movies to Add to the List</h2>
  <div class="container d-flex justify-content-between m-1">
    <% @movies.each do |movie| %>
    <div class="card p-1 align-self-center">
      <label>
        <%= form.check_box :movie_ids, { multiple: true }, movie.id, nil %>
        <%= image_tag movie.poster_url, alt: "Le Wagon", width: 200 %>
        <%= movie.title %>
      </label>
    </div>
    <% end %>
  </div>

  <%= form.submit "Create List" %>
<% end %>
